@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Space+Grotesk:wght@500;700&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{

font-family:Inter,sans-serif;

background:#020617;

color:white;

}



button{

cursor:pointer;

font-family:Inter;

}



/* =========================
   HOME PAGE
========================= */


.app{

min-height:100vh;

background:

radial-gradient(circle at center,#102030,#020617);

color:white;

overflow:hidden;

position:relative;

}



.app:before{

content:"";

position:absolute;

inset:0;


background-image:

linear-gradient(
rgba(255,255,255,.05) 1px,
transparent 1px
),

linear-gradient(
90deg,
rgba(255,255,255,.05) 1px,
transparent 1px
);


background-size:50px 50px;

opacity:.3;

}



.header{

height:70px;

display:flex;

align-items:center;

justify-content:space-around;

border-bottom:

1px solid rgba(255,255,255,.15);

position:relative;

z-index:2;

}



.logo{

font-family:"Space Grotesk";

font-size:25px;

font-weight:700;

}



nav span{

margin:0 20px;

opacity:.8;

}



.theme{

background:none;

border:

1px solid cyan;

color:white;

padding:10px 18px;

border-radius:20px;

}



.online{

color:#22ffff;

}




.layout{

display:grid;

grid-template-columns:

1fr 1.4fr 1fr;


gap:20px;

padding:25px;

position:relative;

z-index:2;

}





.panel{


background:

rgba(255,255,255,.06);


border:

1px solid rgba(0,255,255,.25);


border-radius:25px;


padding:30px;


backdrop-filter:blur(20px);

}





.left h1{

font-family:"Space Grotesk";

font-size:32px;

}





textarea{


width:100%;

height:180px;


margin-top:25px;


background:#020617;


border:

1px solid cyan;


color:white;


padding:20px;


border-radius:15px;


font-size:16px;


}




.upload{


margin-top:20px;


height:120px;


border:

1px dashed cyan;


display:flex;


justify-content:center;


align-items:center;


text-align:center;


}





.searchBtn{


margin-top:20px;


width:100%;


padding:16px;


border:none;


border-radius:15px;


background:

linear-gradient(
90deg,
cyan,
#0099ff
);


font-weight:bold;


}





.center{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}



.circle{


width:150px;


height:150px;


border-radius:50%;


border:

3px solid cyan;


display:flex;


align-items:center;


justify-content:center;


font-size:60px;


animation:pulse 2s infinite;


}





@keyframes pulse{


50%{

box-shadow:

0 0 50px cyan;

}

}



.core h2{

margin-top:20px;

font-family:"Space Grotesk";

}



.core p{

color:#22ffff;

}



.engine{

margin-top:40px;

line-height:2;

color:#22ffff;

}



.network{


margin-top:40px;


padding:20px;


border:

1px solid cyan;


border-radius:20px;


}




.ai h2{

font-family:"Space Grotesk";

}



.chat{


margin-top:30px;


padding:20px;


background:

rgba(0,255,255,.08);


border-radius:15px;


}




.status{

margin-top:25px;

color:#22ffff;

}



.stats{


display:flex;


justify-content:center;


gap:30px;


position:relative;

z-index:2;

}




.stats div{


width:220px;


padding:25px;


background:

rgba(255,255,255,.06);


border:

1px solid rgba(0,255,255,.2);


border-radius:20px;


text-align:center;


}




.stats h2{

font-size:35px;

color:#22ffff;

}





/* =========================
RESULT PAGE
========================= */


.resultPage{


min-height:100vh;


background:

radial-gradient(circle,#123044,#020617);


padding:40px;


color:white;


}





.resultHeader{


display:flex;


justify-content:space-between;


}




.summary{


text-align:center;


margin:50px 0;


}




.summary h1{


font-size:45px;


font-family:"Space Grotesk";


}





.searchInfo{


margin-top:20px;

color:#22ffff;


}





.filter{


display:flex;


justify-content:center;


gap:15px;

margin-bottom:30px;


}




.filter button{


padding:10px 20px;


border-radius:20px;


background:#0b1f2a;


border:1px solid cyan;


color:white;


}





.cards{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:25px;


}




.candidateCard{


background:

rgba(255,255,255,.06);


border:

1px solid rgba(0,255,255,.3);


padding:30px;


border-radius:25px;


backdrop-filter:blur(20px);


transition:.3s;


}




.candidateCard:hover{


transform:translateY(-10px);


box-shadow:

0 0 40px rgba(0,255,255,.3);


}




.winner{


border:

2px solid cyan;


box-shadow:

0 0 40px rgba(0,255,255,.5);


}




.badge{


color:#22ffff;


font-weight:bold;


margin-bottom:15px;


}




.rank{


color:#22ffff;


font-size:13px;


}




.top{


display:flex;


justify-content:space-between;


}




.score{


font-size:40px;


color:#22ffff;


font-weight:bold;


}




.score span{


display:block;


font-size:12px;


}




.skill{

margin-top:15px;

}



.skill div:first-child{


display:flex;

justify-content:space-between;

}



.bar{


height:8px;


background:#172b36;


border-radius:20px;


overflow:hidden;


}



.bar div{


height:100%;


background:#22ffff;


}



.reason{


margin-top:25px;


padding:20px;


background:

rgba(0,255,255,.08);


border-radius:15px;


}





.profileBtn{


margin-top:25px;


width:100%;


padding:15px;


border:none;


border-radius:20px;


background:#22ffff;


font-weight:bold;


}







/* =========================
CANDIDATE PAGE
========================= */


.candidatePage{


min-height:100vh;


background:

radial-gradient(circle,#102c38,#020617);


color:white;


padding:40px;


}



.candidateHeader{


display:flex;


justify-content:space-between;


border-bottom:

1px solid rgba(255,255,255,.2);


padding-bottom:20px;


}




.profileHero{


margin-top:50px;


display:flex;


justify-content:space-between;


align-items:center;


padding:40px;


background:

rgba(255,255,255,.06);


border:

1px solid cyan;


border-radius:25px;


}




.profileHero h1{


font-size:50px;


font-family:"Space Grotesk";


}





.confidence{

width:150px;

height:150px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;


background:

radial-gradient(circle,#22ffff33,#020617);


border:

2px solid cyan;


font-size:45px;

font-weight:bold;


color:#22ffff;


box-shadow:

0 0 40px rgba(0,255,255,.5);


}



.confidence span{


display:block;


font-size:15px;


color:white;


}





.grid{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:25px;


margin-top:30px;


}





.infoCard{


background:

rgba(255,255,255,.08);


padding:30px;


border-radius:20px;


border:

1px solid rgba(0,255,255,.3);


}





.skills span{


display:inline-block;


padding:10px 15px;


margin:5px;


background:

rgba(0,255,255,.15);


border-radius:20px;


color:#22ffff;


}





.graph{


margin-top:40px;


padding:40px;


background:

rgba(255,255,255,.05);


border-radius:25px;


text-align:center;


}





.nodes{


display:flex;


justify-content:center;


gap:30px;


flex-wrap:wrap;


margin-top:40px;


}



.node{


width:90px;


height:90px;


border-radius:50%;


border:2px solid cyan;


display:flex;


align-items:center;


justify-content:center;


animation:pulse 2s infinite;


}



.node.main{


width:130px;


height:130px;


}




.decision{


margin-top:30px;


padding:30px;


background:

rgba(0,255,255,.08);


border-radius:20px;


border:1px solid cyan;


}




.shortlist,
.export{


margin-top:25px;


width:100%;


padding:18px;


border-radius:20px;


font-size:17px;


font-weight:bold;


}



.shortlist{


background:#22ffff;


border:none;


}



.export{


background:white;


color:black;


}

.recommend{

margin-top:15px;

padding:15px;


border-radius:15px;


background:

rgba(0,255,255,.12);


color:#22ffff;


font-weight:bold;


}

.node.main{

width:140px;

height:140px;


background:

rgba(0,255,255,.25);


box-shadow:

0 0 50px cyan;


font-size:22px;

font-weight:bold;

}

.candidateNav{

display:flex;
justify-content:space-between;
align-items:center;

font-size:22px;

margin-bottom:30px;

}


.candidateNav button{

background:transparent;

border:1px solid cyan;

color:white;

padding:10px 20px;

border-radius:20px;

cursor:pointer;

}



.infoCard h2{

color:#22ffff;

}



.decision p{

margin:12px 0;

font-size:18px;

}



@media(max-width:900px){

.grid{

grid-template-columns:1fr;

}

.profileHero{

flex-direction:column;

gap:20px;

}


}